.row{
    padding: 20px;
    background-color: #b57edc;
    text-align: center;
}

@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 300px;
        left: 3%;
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 250px;
        left: 25%;
    }
}

#nombre{
    font-size: 30px;
    font-weight: bold;
    margin-top: 0,1%;
    
    
}
