<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo-20-20.png" id="logoap">
    </div>
    <div class="redes">
      <a href="https://www.linkedin.com/in/mara-ramos-giacosa/"><img src="../../../assets/linkedin2.png" id="linkedin"></a>
      <a href="https://www.instagram.com/"><img src="../../../assets/Instagram-Logo-PNG.png" id="instagram"></a>
      <a href="https://github.com/"><img src="../../../assets/git.png" id="git"></a>
      <button type="button" class="btn btn-secondary" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
      <button type="button" class="btn btn-secondary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

      
    </div>
  </div>

</div>
