<div class="row">
    <h3>EDUCACIÓN</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-secondary btn-sm"routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-11">

        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h6>{{Educacion.nombreE}}</h6>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil"></i> EDITAR</button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash"></i> BORRAR</button>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>